.headbar {
    padding-top: 32px;
    h2{
        margin-right: 47px;
    }
    i{
        text-decoration: none;
    }
}

.tableList {
    thead {
        tr {
            border-bottom: 1px solid $dark;
        }
    }

}

.pagination {

    .page-link {
        color: $dark;
        border: $success 1px solid;
    }

    .pupd {
        color: $success;
    }

    .page-item.active .page-link{
        background-color: $success;
        border-color: $success;
    }
}
footer{
    padding-top: 63px;
    margin-bottom: 32px;
}