.sidebar {
    background: #F8F9FA;
    width: 296px;
    padding-top: 32px;

    img {
        margin-left: 32px;
    }

    li {
        padding-left: 32px;
        cursor: pointer;
        transition: all .10s ease;
        margin-top: 24px;

        &:hover {
            border-left: 4px solid #198754;
        }

        a {
            font-weight: bold;

            &:hover {
                color: #198754;
            }
        }
        // :active{
        //     color: #198754;
        //     border-left: 4px solid #198754;
        // }
    }
}

.user_card {
    margin-bottom: 32px;
    img {
        width: 40px;
        height: 40px;
        border-radius: 24px;

    }

    p {
        font-weight: bold;
        margin-bottom: 0;
    }

    .mail {
        font-size: 14px;
        line-height: 24px;
        color: #6C757D;
        font-weight: normal;
    }
}